<div class="ingredient" [ngStyle]="{ width: '80%' }">
  <form
    [formGroup]="fg"
    class="ingredient__form"
    (ngSubmit)="onSubmit(formVisuals.buttonLabel)"
  >
    <div class="form__group">
      <!-- <h3 class="ingredient__form-title">{{ formVisuals.title }}</h3> -->
    </div>
    <div class="form__group">
      <label for="">{{ fields["name"]?.label }}</label>
      <input type="text" pInputText formControlName="name" />
    </div>
    <div class="form__groups">
      <div class="form__group">
        <label for="ingredient__qty"
          >{{ fields["quantity"]?.label }}
          <span *ngIf="fields['quantity']?.required" style="color: red"
            >*</span
          ></label
        >
        <p-inputNumber
          mode="decimal"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="0"
          [max]="1000"
          class="inputNumber"
          formControlName="quantity"
        ></p-inputNumber>
      </div>

      <div class="form__group">
        <label for="unit">{{ fields["unit"]?.label }}</label>
        <p-dropdown
          [options]="unit"
          class="unitDropdown"
          formControlName="unit"
          [showClear]="true"
          autoWidth="false"
        ></p-dropdown>
      </div>
    </div>
    <div class="form__group">
      <button
        type="submit"
        pButton
        [label]="formVisuals.buttonLabel"
        class="p-button-success"
      ></button>
    </div>
  </form>
</div>
