<p-table [value]="reports">
  <ng-template pTemplate="header">
    <tr>
      <th>Sr. No.</th>
      <th>Subject</th>
      <th>Severity</th>
      <th>Reported By</th>
      <th>Posted On</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template let-report let-rowIndex="rowIndex" pTemplate="body">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ report?.subject }}</td>
      <td>{{ report?.severity }}</td>
      <td>{{ report?.user }}</td>
      <td>{{ report?.createdOn }}</td>
      <td>
        <!-- <button
          pButton
          icon="pi pi-eye"
          class="p-button-rounded p-button-secondary p-button-text"
          pTooltip="View ingredients"
          (click)="viewIngredients(recipe?.ingredients)"
        ></button> -->
      </td>
    </tr>
  </ng-template>
</p-table>
