.severity{
    border: 1px solid #999;
}

.low{
    border: 1px solid rgb(7, 148, 12);
    background-color: rgb(7, 148, 12);
    color: #fff;
}

.medium{
    border: 1px solid rgb(217, 220, 13);
    background-color: rgb(217, 220, 13);
    color: black;
}

.high{
    border: 1px solid rgb(220, 141, 13);
    color: #fff;
}