<div class="message__card">
  <p-card styleClass="p-card-shadow" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <h2 class="message__card-heading">Recipe created!</h2>
    </ng-template>
    <ng-template pTemplate="content" class="message__card-content">
      <div class="message__card-content">
        <div class="message__card-content--image">
       
        </div>
        <div class="message__card-content--subheading">
          <h3 class="subheading">{{ recipeName }}</h3>
        </div>
        <div class="message__card-content--author">
          <h5 class="message__card-content--author---text">by {{ author }}</h5>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="message__card-footer--buttons">
        <a
          [routerLink]="'/createRecipe'"
          rel="noopener noreferrer"
          class="link__button left"
          >One more recipe</a
        >
        <a
          [routerLink]="'/recipeList'"
          rel="noopener noreferrer"
          class="link__button right"
          >Check recipe list</a
        >
      </div>
    </ng-template>
  </p-card>
</div>
