.action__btns {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.table-container {
  width: 90%;
  height: 95%;
  //background-color: rgba(223, 221, 221, 0.6);
  border-radius: 6px;
  padding: 2.5px 10px;
  overflow-y: scroll;
  margin: 0 auto;
}

.ingredient__list {
  background-color: #ffff;
  border-radius: 6px;
  width: 80vw;
  position: relative;
  top: 0px;
  left: 12%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 1px 7px 0px rgba(206, 205, 205, 0.6);
  padding: 10px 20px;
}

.ingredient-button {
  //background-color: #9999;
  width: 95%;
  display: flex;
  justify-content: flex-end;

  &.last {
    display: flex;
    justify-content: space-between;
  }
}

body {
  width: 100%;
}

.emptyMessage__text {
  position: relative;
  left: 200%;
  padding: 20px 0;
}
